/* Common Style -------------------------- */

body{
    font-size:14px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height:1.6;
    font-weight:normal;
    position: absolute;
    width: 90%;
    left: 8%;
    right: 8%;
    background-color: #f9f9f9;
    border-left: solid 1px #c8c8c8;
}

@media (max-width:767px) {
    body {
        width: 90%;
        position: absolute;
        left: 20px;
    }
}

header a{
    color: #636363;
    text-decoration: none;
}

header a:hover{
    color: #afafaf;
    text-decoration: none;
}


.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


header nav {
    display: none;
    width: 95%;
    height: 100vh;
    background: rgba(255,255,255,0.98);
}

.nav-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    position: relative;
}

header nav img {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 15px;
}

header nav ul {
    width: 100%;
    display: block;
}

header nav ul li {
    height: auto;
    text-align: center;
}

header nav ul li.current {
    border-bottom: none;
    height: auto;
}

@media (max-width:767px) {

    .maintitle {
        width: 180px;
        height: auto;
    }

    header nav {
        display: none;
        width: 100%;
        height: 100vh;
        background: rgba(255,255,255,0.98);
    }

    .mobile-menu-open {
        display: block;
        z-index: 200;
    }

    .nav-container {
        width: 100%;
        height: 100vh;
        margin: 0;
        position: absolute;
    }

    header nav img {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    header nav ul {
        width: 100%;
        display: block;
        margin-top: 100px;
    }

    header nav ul li {
        height: auto;
        text-align: center;
        margin-top: 50px;
    }

    header nav ul li.current {
        border-bottom: none;
        height: auto;
    }

}

/* Header -------------------------- */

.mobilemenu {
    display: none;
}

header {
    width: 100%;
    background: center center no-repeat;
}

.main-title {
    margin-top: 100px;
    max-width: 95%;
    border-bottom: solid 1px #c8c8c8 ;
}

.navigation {
    width: 100%;
    height: 96px;
    float: left;
}

.top-nav-ul {
    position: absolute;
    max-width: 95%;
    right: 12%;
    font-size: 16px;
    font: Arial;
    display: flex;
}

.top-nav-li {
    color: #636363;
    font-size: 18px;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 44px;
    text-align: left;
}

.main-img {
    /* width: auto;
    height: 405px; */
    max-width: 95%;
    height: auto;
    box-sizing: border-box;
}

#stage {
    background: url(/Users/shangendashu/Desktop/taiki1993.github.io/portfolio_site_git/portfolio_yamane-assets/portfolio_main_back_ok.png);
    max-width: 95%;
    background-size: cover;
    height: auto;
}

@media (max-width:767px) {
    .mobilemenu {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .main-title {
        margin-top: 100px;
        width: 100%;
        border-bottom: solid 100% #c8c8c8;
        margin-bottom: 20px;
    }

    .main-img {
        max-width: 100%;
        height: auto;
    }

    .navigation {
        display: none;
    }
}

/*Works----------------------------*/

a {
    text-decoration: none;
    color: #2e2e2e;
}

a:hover{
    text-decoration: none;
}

.works-box {
    display: flex;
    width: 95%;
    border-bottom: solid 1px #c8c8c8 ;
    margin-top: 100px;
}

h2 {
    font-size: 24px;
    font: Arial;
}

.works-container {
    display: flex;
}

.works-img {
    /* width: 100% */
    max-width: 260px;
    height: auto;
}

.box1 {
    margin-top: 50px;
    margin-right: 11%;
}

.box2 {
    padding-top: 50px;
    margin-right: 11%;
    border-left: solid 1px #c8c8c8;

}

.box3 {
    padding-top: 50px;
    border-left: solid 1px #c8c8c8;

}

.works {
    display: inline-block;
    /* margin-right: 127px; */
    margin-top: 60px;
}

.works :hover {
    box-shadow: 8px 8px 3px #c9c9c9;
}

p {
    padding-top: 8px;
    font-size: 18px;
}


.btn {
    width: calc(260px + 11%);
    margin-left: calc(260px + 11%);
    margin-right: calc(260px + 11%);
    padding-top: 150px;
    font-size: 24px;
    border-left: solid 1px #c8c8c8;
    border-right: solid 1px #c8c8c8;
    display: flex;
}

.btn :hover {
    opacity: 0.85;
}

@media (max-width:1090px) {
    .box3 {
        display: none;
    }

    .btn {
        width: calc(260px + 11%);
        margin-left: calc(260px + 11%);
        margin-right: calc(260px + 11%);
        padding-top: 150px;
        font-size: 24px;
        border-left: solid 1px #c8c8c8;
        border-right: solid 0px #c8c8c8;
        display: flex;
    }
}

@media (max-width:767px) {
    h2 {
        font-size: 18px;
    }

    .works-container {
        display:block;
    }

    .works-img {
        /* width: 100% */
        max-width: 80%;
        height: auto;
    }

    .nav-works {
        font-size: 16px;
    }

    .works-box {
        display: flex;
        width: 100%;
        border-bottom: solid 100% #c8c8c8 ;
        margin-top: 80px;
    }

    .box1 {
        margin-top: 0px;
        margin-right: 11%;
    }

    .works {
        margin-right:0;
        margin-top: 60px;
    }

    .box2 {
        padding-top: 0;
        border-left: none;
    }

    .box3 {
        padding-top: 0;
        border-left: none;
    }

    .btn {
        width: 0;
        margin-left: 0;
        padding-top: 100px;
        font-size: 24px;
        border-left: none;
        border-right: none;
        display: flex;
    }

    .more {
        width: 70px;
        height: auto;
    }


}

/* Footer -------------------------- */

.footer-nav {
    width: 95%;
    border-top: solid 1px #c8c8c8 ;
    display: flex;
}

footer ul {
   display: flex;
   max-width: calc(260px + 11.6%);
   width: calc(260px + 11.6%);
   border-right: solid 1px #c8c8c8;
   padding-bottom: 168px;
}

.a-margin {
    font-size: 16px;
    margin-right: 44px;
    margin-top: 150px;
}

footer li {
    font-size: 16px;
    margin-top: 150px;
    margin-right: 44px;
}

footer li :hover {
    color: #afafaf;
    text-decoration: none;
}

.top {
    min-width: calc(260px + 11.6%);
    border-right: solid 1px #c8c8c8;
    padding-top: 150px ;
}

/* @media (max-width:770px) {
    .top {
        width: calc(260px + 11.6%);
        border-right: solid 1px #c8c8c8;
        padding-top: 150px ;
        }
} */

@media (max-width:1090px) {
    .top {
        border-right: solid 0px #c8c8c8;
        padding-top: 150px ;
    }
}

.top :hover {
    opacity: 0.8;
}

footer p {
    max-width: calc(260px + 11.1%);
    border-right: solid 1px #c8c8c8;
    padding-top: 52px;
    padding-left: calc(260px + 11.0%);
    padding-bottom: 50px;
    font-size: 12px;
}

@media(max-width:1090px){
    footer p {
        max-width: calc(260px + 11.1%);
        border-right: solid 0px #c8c8c8;
        padding-top: 52px;
        padding-left: calc(260px + 11.0%);
        padding-bottom: 50px;
        font-size: 12px;
    }
}

footer small {
    padding-top: 55px;
    padding-bottom: 50px;
    border-left: solid 1px #c8c8c8;
}

footer a {
    text-decoration: none;
}

@media (max-width:767px) {
    .footer-nav {
        width: 100%;
        border-top: solid 100% #c8c8c8 ;
        display: flex;
    }

    footer li {
        display: none;
    }

    footer ul {
       display: none;
    }

    .top {
        width: 0;
        border-right: none;
        padding-top: 100px ;
    }

    footer p {
        width: 100%;
        border-right: none;
        padding-top: 52px;
        padding-left: 0;
        padding-bottom: 50px;
        font-size: 12px;
    }

    footer small {
        padding-top: 50px;
        padding-bottom: 50px;
        border-left: none;
    }

    .top-img {
        width: 50px;
        height: auto;
    }

}
