body{
    font-size:14px;
    font-family:Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height:1.6;
    font-weight:normal;
    width: 100vw;
    height: 100vh;
    background-color: #201803;
    position: relative;
    /* overflow-x: hidden; */

}


/* Header */
header {
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: #201803;
  z-index: 9999;
}
.title {
  position: absolute;
  top: 34px;
  left: 33px;
  z-index: 9999;
}
.title:hover {
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 34px;
  right: 33px;
  z-index: 9999;
}
.menu ul {
  display: flex;
}
.menu a {
  font-family: Avenir;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.8px;
  color: #717171;
  margin-left: 80px;
}
.menu a:hover {
  opacity: 0.5;
  cursor: pointer;
}
.res_menu {
  display: none;
  position: absolute;
  text-align: right;
  top: 34px;
  right: 33px;
}
.res_menu p {
  color: #717171;
}
.res_menu:hover {
  cursor: pointer;
}
.green {
  display: block;
  position: absolute;
  float: left;
  width: 50%;
  height: 86px;
  border-bottom: solid 24px #264c43;
}
.orange {
  display: block;
  position: absolute;
  right: 0;
  width: 50%;
  height: 86px;
  border-bottom: solid 24px #98482e;
}
@media(max-width:726px){
  .title img {
    width: 80%;
  }
  .menu {
    display:none;
  }
  .res_menu {
    display: block;
  }
  .green {
    display: block;
  }
  .orange {
    display: block;
  }
}

/* Responsive_menu */
.responsive_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #717171;
  opacity: 0.94;
  z-index: 9999;
  text-align: center;
}
.responsive_menu p {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ffffff;
}
.responsive_menu p:hover {
  cursor: pointer;
}
.responsive_menu ul {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.responsive_menu li {
  margin-top: 30px;
}
.responsive_menu a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
}
.res_menu-open {
  display: block;
  z-index: 9999;
}

/* portfolio */
.pf_1 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box1 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo1.png") center center no-repeat;
}
.pic_box1 p {
  opacity: 0;
}
.pic_box1:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.letter {
  position: relative;
  margin-top: 30px;
  margin-left: 80px;
}
.letter h3 {
  color: #f4f4f4;
  font-size: 18px;
  letter-spacing: 0.8px;
  margin-bottom: 24px;
}
.letter p {
  color: #f4f4f4;
  font-size: 14px;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}
.pf_8 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(220px + 165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box8 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo8.png") center center no-repeat;
}
.pic_box8 p {
  opacity: 0;
}
.pic_box8:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.pf_2 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(220px + 165px + 46px + 165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box2 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo2.png") center center no-repeat;
}
.pic_box2 p {
  opacity: 0;
}
.pic_box2:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.pf_3 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(220px + 165px + 46px + 165px + 46px + 165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box3 {
  width: 165px;
  height: 165px;
  background: url("../img/ph_photo3.png") center center no-repeat;
}
.pic_box3 p {
  opacity: 0;
}
.pic_box3:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.pf_4 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(220px + 165px + 46px + 165px + 46px + 165px + 46px + 165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box4 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo4.png") center center no-repeat;
}
.pic_box4 p {
  opacity: 0;
}
.pic_box4:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.pf_5 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(220px + 165px + 46px + 165px + 46px + 165px + 46px + 165px + 46px + 165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box5 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo5.png") center center no-repeat;
}
.pic_box5 p {
  opacity: 0;
}
.pic_box5:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.pf_6 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(220px + 165px + 46px + 165px + 46px + 165px + 46px + 165px + 46px + 165px + 46px + 165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
}
.pic_box6 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo6.png") center center no-repeat;
}
.pic_box6 p {
  opacity: 0;
}
.pic_box6:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
.pf_7 {
  width: 630px;
  height: 165px;
  position: absolute;
  top: calc(165px + 46px);
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 220px;
  display: flex;
}
.pic_box7 {
  width: 165px;
  height: 165px;
  background: url("../img/pf_photo7.png") center center no-repeat;
}
.pic_box7 p {
  opacity: 0;
}
.pic_box7:hover {
  cursor: pointer;
  filter: brightness(0.5);
}
@media(max-width:726px){
  .letter {
    display: none;
  }
  .pf_1 {
    width: 100vw;
  }
  .pic_box1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box1:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box1 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box1:hover p {
    opacity: 1;
  }
  .pf_8 {
    width: 100vw;
  }
  .pic_box8 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box8:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box8 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box8:hover p {
    opacity: 1;
  }
  .pf_2 {
    width: 100vw;
  }
  .pic_box2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box2:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box2 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box2:hover p {
    opacity: 1;
  }
  .pf_3 {
    width: 100vw;
  }
  .pic_box3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box3:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box3 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box3:hover p {
    opacity: 1;
  }
  .pf_4 {
    width: 100vw;
  }
  .pic_box4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box4:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box4 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box4:hover p {
    opacity: 1;
  }
  .pf_5 {
    width: 100vw;
  }
  .pic_box5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box5:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box5 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box5:hover p {
    opacity: 1;
  }
  .pf_6 {
    width: 100vw;
  }
  .pic_box6 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .pic_box6:hover {
    cursor: pointer;
    filter: brightness(0.3);
  }
  .pic_box6 p {
    font-size: 12px;
    color: #f4f4f4;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
  }
  .pic_box6:hover p {
    opacity: 1;
  }
  .pf_7 {
    width: 100vw;
  }
  .pic_box7 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: 600px;
  }
  .pic_box7:hover {
    cursor: pointer;
    filter: brightness(0.5);
  }
  .pic_box7 p {
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    margin-left: 10px;
    opacity: 0;
    z-index: 9999;
  }
  .pic_box7:hover p {
    opacity: 1;
  }
}

/* portflio_inst_responsive */
.res_pf_inst1{
  display: none;
}
.res_pf_inst8{
  display: none;
}
.res_pf_inst2{
  display: none;
}
.res_pf_inst3{
  display: none;
}
.res_pf_inst4{
  display: none;
}
.res_pf_inst5{
  display: none;
}
.res_pf_inst6{
  display: none;
}
.res_pf_inst7{
  display: none;
}
@media(max-width:726px){
  .res_pf_inst1 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst1 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_letter {
    width: 50%;
    position: absolute;
    top: 360px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .res_pf_inst1 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_letter p {
    font-style: Avenir;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 12px;
    margin-left: 8px;
  }
  .res_pf_inst1 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst1 a:hover {
    cursor: pointer;
  }
  .res_pf_inst1 h1 {
    color: #ffffff;
  }

  .res_pf_inst8 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst8 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst8 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst8 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst8 a:hover {
    cursor: pointer;
  }
  .res_pf_inst8 h1 {
    color: #ffffff;
  }

  .res_pf_inst2 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst2 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst2 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst2 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst2 a:hover {
    cursor: pointer;
  }
  .res_pf_inst2 h1 {
    color: #ffffff;
  }

  .res_pf_inst3 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst3 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst3 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst3 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst3 a:hover {
    cursor: pointer;
  }
  .res_pf_inst3 h1 {
    color: #ffffff;
  }

  .res_pf_inst4 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst4 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst4 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst4 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst4 a:hover {
    cursor: pointer;
  }
  .res_pf_inst4 h1 {
    color: #ffffff;
  }

  .res_pf_inst5 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst5 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst5 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst5 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst5 a:hover {
    cursor: pointer;
  }
  .res_pf_inst5 h1 {
    color: #ffffff;
  }

  .res_pf_inst6 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst6 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst6 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst6 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst6 a:hover {
    cursor: pointer;
  }
  .res_pf_inst6 h1 {
    color: #ffffff;
  }

  .res_pf_inst7 {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(113,113,113,0.96);
    z-index: 9999;
  }
  .res_pf_inst7 img {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }
  .res_pf_inst7 h2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #ffffff;
  }
  .res_letter h3 {
    font-style: Avenir;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-left: 8px;
  }
  .res_pf_inst7 a {
    width: 30%;
    height: 20px;
    position: absolute;
    top: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    background-color: #98482e;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.96;
    text-align: center;
    border: solid 1px #264c43;
  }
  .res_pf_inst7 a:hover {
    cursor: pointer;
  }
  .res_pf_inst7 h1 {
    color: #ffffff;
  }

  .pic_box1-open {
    display: block;
    z-index: 9999;
  }
  .pic_box8-open {
    display: block;
    z-index: 9999;
  }
  .pic_box2-open {
    display: block;
    z-index: 9999;
  }
  .pic_box3-open {
    display: block;
    z-index: 9999;
  }
  .pic_box4-open {
    display: block;
    z-index: 9999;
  }
  .pic_box5-open {
    display: block;
    z-index: 9999;
  }
  .pic_box6-open {
    display: block;
    z-index: 9999;
  }
  .pic_box7-open {
    display: block;
    z-index: 9999;
  }
}

/* Footer */
footer {
  width: 100%;
  height: 42px;
  position: fixed;
  bottom: 0;
  background-color: #ececec;
  z-index: 9999;
}
.contactbox {
  position: absolute;
  top: 10px;
  left: 33px;
}
.contactbox ul {
  display: flex;
}
.contactbox a {
  font-family: Avenir;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 0.6px;
  color: #201803;
}
.contactbox a:hover {
  opacity: 0.5;
}
.syasen {
  color: #717171;
  margin-right: 10px;
}
.journey {
  font-family: Avenir;
  font-size: 14px;
  color: #717171;
  letter-spacing: 0.6px;
  position: absolute;
  top: 10px;
  right: 33px;
  text-decoration: none;
}
.journey:hover {
  opacity: 0.5;
}
@media(max-width:760px){
  footer {
    z-index: 9998;
  }
  .contactbox {
    display: none;
  }
}
