body{
    font-size:14px;
    font-family:Avenir, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height:1.6;
    font-weight:normal;
    width: 100vw;
    height: 100vh;
    background-color: #201803;
    position: relative;
    overflow-x: hidden;

}


/* Header */
header {
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: #201803;
  z-index: 9999;
}
.title {
  position: absolute;
  top: 34px;
  left: 33px;
}
.menu {
  position: absolute;
  top: 34px;
  right: 33px;
}
.menu ul {
  display: flex;
}
.menu a {
  font-family: Avenir;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.8px;
  color: #717171;
  margin-left: 80px;
}
.menu a:hover {
  opacity: 0.5;
}
.res_menu {
  display: none;
  position: absolute;
  text-align: right;
  top: 34px;
  right: 33px;
}
.res_menu p {
  color: #717171;
}
.res_menu:hover {
  cursor: pointer;
}
.green {
  display: none;
  position: absolute;
  float: left;
  width: 50%;
  height: 86px;
  border-bottom: solid 24px #264c43;
}
.orange {
  display: none;
  position: absolute;
  right: 0;
  width: 50%;
  height: 86px;
  border-bottom: solid 24px #98482e;
}
@media(max-width:726px){
  .title img {
    width: 80%;
  }
  .menu {
    display:none;
  }
  .res_menu {
    display: block;
  }
  .green {
    display: block;
  }
  .orange {
    display: block;
  }
}

/* Responsive_menu */
.responsive_menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #717171;
  opacity: 0.94;
  z-index: 9999;
  text-align: center;
}
.responsive_menu p {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ffffff;
}
.responsive_menu p:hover {
  cursor: pointer;
}
.responsive_menu ul {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.responsive_menu li {
  margin-top: 30px;
}
.responsive_menu a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
}
.res_menu-open {
  display: block;
  z-index: 9999;
}

/* Main */
.main {
  position: absolute;
  z-index: 9998;
}
.intro {
  position: absolute;
  top: 200px;
  right: 33px;
  z-index: 5;
}
.mainpic {
  width: 100vw;
  position: relative;
  top: 217px;
}
.mainpic img {
  width: 100%;
  height: auto;
}
.lineart {
  display: none;
  position: absolute;
  width: 100vw;
  height: auto;
  top: 110px;
  z-index: 1;
}
.lineart img {
  display: none;
  width: 100vw;
}
.res_menu_sns {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 33px;
  z-index: 9999;
}
.res_menu_sns li {
  margin-top: 8px;
}
.res_menu_sns a {
  color: #717171;
  font-family: Avenir;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

@media(max-width:1200px){
  .mainpic {
    top: 287px;
  }
}
@media(max-width:900px){
  .mainpic {
    top: 357px;
    border-bottom: none;
  }
}
@media(max-width:726px){
  .mainpic img {
    display: none;
  }
  .lineart {
    display: block;
  }
  .lineart img {
    display: block;
    opacity: 0.4;
  }
  .res_menu_sns {
    display: block;
  }
}
@media(max-width:626px){
  .intro img {
    float: right;
    width: 80%;
  }
}

/* Footer */
footer {
  width: 100%;
  height: 42px;
  position: fixed;
  bottom: 0;
  background-color: #ececec;
  z-index: 9999;
}
.contactbox {
  position: absolute;
  top: 10px;
  left: 33px;
}
.contactbox ul {
  display: flex;
}
.contactbox a {
  font-family: Avenir;
  font-size: 12px;
  margin-right: 10px;
  text-decoration: none;
  letter-spacing: 0.6px;
  color: #201803;
}
.contactbox a:hover {
  opacity: 0.5;
}
.syasen {
  color: #717171;
  margin-right: 10px;
}
.journey {
  font-family: Avenir;
  font-size: 14px;
  color: #717171;
  letter-spacing: 0.6px;
  position: absolute;
  top: 10px;
  right: 33px;
  text-decoration: none;
}
.journey:hover {
  opacity: 0.5;
}
@media(max-width:760px){
  .contactbox {
    display: none;
  }
}
